* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background-color: #f3f3f3;
}

#head {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  z-index: 1;
}

#head img {
  height: 5rem;
  width: 10rem;
}

#head ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}

#head ul .nav-link {
  text-decoration: none;
  padding: 20px;
  color: white;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}

#head ul .nav-link:hover {
  background-color: rgba(255, 255, 0, 0.473);
  -webkit-box-shadow: 0px 1px 10px 0px rgba(255, 255, 0, 0.473);
          box-shadow: 0px 1px 10px 0px rgba(255, 255, 0, 0.473);
}

#head ul #active {
  border: 1px solid rgba(255, 255, 0, 0.473);
}

@media screen and (max-width: 800px) {
  #head {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    color: #fff;
    padding: 2%;
    width: 100%;
    background-color: transparent;
    opacity: 1;
    position: fixed;
  }
  #head h1 {
    font-size: 16px;
  }
  #head nav {
    position: relative;
  }
  #head nav .ham {
    background-color: black;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    -webkit-transform: translate(-5%, -50%);
            transform: translate(-5%, -50%);
    z-index: 2;
  }
  #head nav .ham .line {
    width: 30px;
    height: 3px;
    background: #ffee00;
    margin: 5px;
  }
  #head nav ul {
    width: 100%;
    display: none;
    background: rgba(8, 8, 8, 0.356);
    padding: 0;
  }
  #head nav ul li {
    display: block;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5%;
  }
  #head nav .active {
    display: block;
    position: relative;
    height: 15rem;
    padding: 3rem;
  }
  #head nav .nav-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

#intro {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.692))), url(../img/picr.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.692)), url(../img/picr.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

#intro img {
  height: 10rem;
  width: 10rem;
}

#intro h1 {
  font-size: 60px;
  font-family: "Poppins";
  color: white;
}

#intro h1::after {
  position: relative;
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 1px;
  background-color: white;
}

#intro #btn1 {
  position: relative;
  top: 5rem;
  width: 7rem;
  height: 3rem;
  background-color: transparent;
  color: white;
  border: 1px solid rgba(255, 255, 0, 0.473);
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}

#intro #btn1:hover {
  background-color: rgba(255, 255, 0, 0.473);
  -webkit-box-shadow: 0px 1px 10px 0px rgba(255, 255, 0, 0.473);
          box-shadow: 0px 1px 10px 0px rgba(255, 255, 0, 0.473);
}

@media screen and (max-width: 800px) {
  #intro {
    height: 100vh;
  }
  #intro h1 {
    font-size: 30px;
  }
}

.gallery {
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  top: 10rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6))), url(../img/chrch.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6)), url(../img/chrch.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}

.gallery h2 {
  font-family: "Agency FB";
  font-size: 40px;
  color: white;
  padding-top: 4rem;
}

.gallery .gal-box {
  position: relative;
  top: 3rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 2px;
  padding: 1rem;
}

.gallery .gal-box .img {
  overflow: hidden;
}

.gallery .gal-box img {
  width: 80%;
  height: 80%;
  cursor: pointer;
}

.gallery #btn {
  width: 100px;
  height: 60px;
  margin-top: 5rem;
  background-color: yellow;
  border: none;
  cursor: pointer;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}

.gallery #btn:hover {
  -webkit-box-shadow: 0px 1px 10px 0px rgba(255, 255, 0, 0.473), 0px 1px 10px 0px rgba(255, 255, 0, 0.473);
          box-shadow: 0px 1px 10px 0px rgba(255, 255, 0, 0.473), 0px 1px 10px 0px rgba(255, 255, 0, 0.473);
}

@media screen and (max-width: 800px) {
  .gallery h2 {
    padding-top: 2rem;
    font-size: 20px;
  }
  .gallery .gal-box {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    grid-gap: 2px;
    top: 1rem;
  }
  .gallery .gal-box .img {
    overflow: hidden;
  }
  .gallery .gal-box img {
    width: 50%;
    height: 50%;
  }
  .gallery #btn {
    margin-top: 1rem;
    font-size: 15px;
    width: 80px;
    height: 30px;
  }
}

#contact {
  position: relative;
  text-align: center;
  top: 10rem;
}

#contact h2 {
  margin-top: 4rem;
  font-family: "Agency FB";
  font-size: 30px;
}

#contact .address-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 2px;
}

#contact .address-box i {
  font-size: 35px;
  margin-top: 4rem;
}

#contact .address-box h2 {
  padding-bottom: 1rem;
}

#contact .address-box a {
  text-decoration: none;
}

#contact .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

#contact .form input {
  padding: 20px;
}

#contact .form .btn {
  position: relative;
  top: 4rem;
}

#contact .form .btn #btn1,
#contact .form .btn #btn2 {
  width: 100px;
  height: 50px;
  cursor: pointer;
  color: white;
}

#contact .form .btn #btn1 {
  background-color: #4d4df1;
  border: none;
}

#contact .form .btn #btn1:hover {
  -webkit-box-shadow: 1px 0px 10px 0px #4d4df1;
          box-shadow: 1px 0px 10px 0px #4d4df1;
}

#contact .form .btn #btn2 {
  background-color: rgba(235, 67, 67, 0.959);
  border: none;
}

#contact .form .btn #btn2:hover {
  -webkit-box-shadow: 1px 0px 10px 0px rgba(235, 67, 67, 0.959);
          box-shadow: 1px 0px 10px 0px rgba(235, 67, 67, 0.959);
}

@media screen and (max-width: 800px) {
  #contact .address-box {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

footer {
  position: relative;
  top: 10rem;
  background-color: black;
  font-family: "Goudy Old Style";
  background-size: cover;
}

footer .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

footer .btn button {
  height: 50px;
  background-color: #888807;
  border: none;
  color: white;
  cursor: pointer;
}

footer i {
  color: blue;
  font-size: 35px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 30px;
  margin-bottom: 10px;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 20px;
}

footer h3 {
  color: #fff;
  text-align: center;
  font-size: 30px;
}

footer p {
  color: white;
}

footer #p {
  text-align: right;
}

footer #box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  padding: 50px;
  text-align: center;
}

footer span {
  color: yellow;
  font-size: 20px;
}

@media screen and (max-width: 800px) {
  footer h3 {
    font-size: 12px;
  }
  footer #box {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  footer #box .items {
    padding-top: 1rem;
  }
  footer #box .items p {
    font-size: 10px;
  }
  footer .icons i {
    width: 13px;
    height: 13px;
    font-size: 13px;
  }
  footer #p {
    font-size: 10px;
  }
  footer #p span {
    font-size: 12px;
  }
}
/*# sourceMappingURL=styles.css.map */